In [1]:
import pandas as pd

- csv 파일 읽기

In [39]:
df = pd.read_csv('LOCAL_PEOPLE_DONG_201907.csv', index_col=False)
print(df.shape)
df.tail()

(315456, 32)

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
315451,20190731,23,11140570,9347.4077,205.6905,68.5636,249.0123,631.3622,593.0740,406.0983,...,400.0723,357.1414,313.6847,253.9237,254.9195,289.1007,247.3975,234.9142,156.3714,569.5459
315452,20190731,23,11650610,22890.7533,643.0322,338.2451,585.2394,811.1836,991.8039,881.1163,...,1146.9825,973.0540,892.6454,741.3495,935.7917,845.4038,1018.7481,872.9075,675.1736,1702.9134
315453,20190731,23,11410690,16870.5390,1411.2036,432.4852,351.6624,351.1700,391.7582,400.5410,...,458.9866,559.0708,873.2515,779.9802,663.7474,551.4996,587.1011,470.9524,426.4863,1125.9248
315454,20190731,23,11560680,18813.3418,665.9951,320.5167,344.0296,460.7043,757.5524,702.5474,...,893.7070,887.4137,862.3878,693.7685,806.3401,690.3966,858.3726,745.7627,562.4553,1283.9871
315455,20190731,23,11440680,21842.8904,407.1227,108.8255,291.0451,838.6265,1309.9360,1186.4729,...,1724.7837,1270.9688,1143.4306,797.4718,776.0933,760.3918,775.1841,591.6362,395.9683,1130.7833

- 엑셀 파일 읽기 (특정 시트만)

In [40]:
code_df = pd.read_excel('행정동코드_매핑정보_2018.xlsx', sheet_name='행정동코드')
print(code_df.shape)
code_df.head()

(425, 5)

    통계청행정동코드  행자부행정동코드    시도명   시군구명      행정동명
0  H_SDNG_CD  H_DNG_CD  DO_NM  CT_NM  H_DNG_NM
1    1101053  11110530     서울    종로구       사직동
2    1101054  11110540     서울    종로구       삼청동
3    1101055  11110550     서울    종로구       부암동
4    1101056  11110560     서울    종로구       평창동

- 불필요한 첫번째 row 제거 후 특정 컬럼만 선택

In [41]:
code_df = code_df.iloc[1:]
print(code_df.shape)
code_df.head()

(424, 5)

  통계청행정동코드  행자부행정동코드 시도명 시군구명 행정동명
1  1101053  11110530  서울  종로구  사직동
2  1101054  11110540  서울  종로구  삼청동
3  1101055  11110550  서울  종로구  부암동
4  1101056  11110560  서울  종로구  평창동
5  1101057  11110570  서울  종로구  무악동

In [42]:
code_df = code_df[['행자부행정동코드', '시군구명', '행정동명']]
code_df.tail()

     행자부행정동코드 시군구명  행정동명
420  11740690  강동구  둔촌1동
421  11740700  강동구  둔촌2동
422  11740570  강동구  암사1동
423  11740610  강동구  천호2동
424  11740685  강동구    길동

- 2개의 데이터프레임을 합치려고 하지만 에러가 남

In [43]:
df = pd.merge(df, code_df, how='inner', left_on=['행정동코드'], right_on=['행자부행정동코드'])
print(df.shape)
df.tail()

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

- ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat
- 위 에러 메시지를 보고 각 df 의 데이터 타입을 확인

In [44]:
df[['행정동코드']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315456 entries, 0 to 315455
Data columns (total 1 columns):
행정동코드    315456 non-null int64
dtypes: int64(1)
memory usage: 2.4 MB

In [45]:
code_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 1 to 424
Data columns (total 3 columns):
행자부행정동코드    424 non-null object
시군구명        424 non-null object
행정동명        424 non-null object
dtypes: object(3)
memory usage: 10.0+ KB

- code_df 의 '행자부행정동코드' 컬럼이 object(문자열) 타입으로 된것을 확인
- 해당 컬럼의 타입을 int64로 변경

In [48]:
code_df['행자부행정동코드'] = code_df['행자부행정동코드'].astype('int64')
print(code_df.shape)
code_df.info()

(424, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 1 to 424
Data columns (total 3 columns):
행자부행정동코드    424 non-null int64
시군구명        424 non-null object
행정동명        424 non-null object
dtypes: int64(1), object(2)
memory usage: 10.0+ KB

- 생활인구 데이터에서 행정동과 자치구가 어디인지 확인하기 위해 행정동코드를 기준으로 데이터를 merge
- 이를 통해 각각의 행정동코드의 위치를 한글로 확인할 수 있음

In [50]:
df = pd.merge(df, code_df, how='inner', left_on=['행정동코드'], right_on=['행자부행정동코드'])
print(df.shape)
df.tail()

(315456, 35)

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수,행자부행정동코드,시군구명,행정동명
315451,20190731,19,11740700,25485.1757,925.0007,466.6208,702.6746,637.7536,724.0401,785.8368,...,869.0461,990.4464,1072.5113,1330.6080,1117.9305,902.4364,2297.5680,11740700,강동구,둔촌2동
315452,20190731,20,11740700,25751.6023,909.5407,458.8218,715.2729,613.7281,717.0559,798.6660,...,913.9967,1000.6795,1072.9392,1312.6228,1173.9137,946.2098,2325.1133,11740700,강동구,둔촌2동
315453,20190731,21,11740700,26563.1369,925.1330,466.6877,742.6530,656.3445,759.4896,795.2940,...,995.1877,1059.2564,1096.9543,1362.8715,1236.7435,933.3004,2240.9374,11740700,강동구,둔촌2동
315454,20190731,22,11740700,28078.3684,1101.7607,555.7876,825.1556,729.6189,831.9103,873.8573,...,1024.0045,1071.5685,1118.7449,1399.8889,1218.2579,955.2108,2370.5682,11740700,강동구,둔촌2동
315455,20190731,23,11740700,30180.8883,1184.0851,597.3174,847.8316,795.8728,897.8780,914.0025,...,1062.8933,1223.7927,1114.2595,1465.3119,1290.0943,1035.7022,2405.0821,11740700,강동구,둔촌2동

- 여기까지는 실습을 위해 데이터를 전처리한 과정 
- 자세한 내용은 책에 각각 챕터별로 설명해주고 있음
- 이번 시간에는 위 코드를 그대로 사용

# 만들어진 데이터프레임으로 3장에서 실습했던 내용 복습해보기

## 시리즈의 mean, min, max, std 메서드 사용하기

In [51]:
pop30 = df['남자30세부터34세생활인구수']
type(pop30)

pandas.core.series.Series

In [52]:
pop30.mean()

946.5803352965232

In [53]:
pop30.max()

14032.8478

In [54]:
pop30.min()

30.633

In [55]:
pop30.std()

895.0832064196895

# 행자부행정동코드 컬럼 제거하기

In [57]:
print(df.columns)

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수',
       '행자부행정동코드', '시군구명', '행정동명'],
      dtype='object')

In [59]:
df = df.drop(['행자부행정동코드'], axis=1)
print(df.columns)

Index(['기준일ID', '시간대구분', '행정동코드', '총생활인구수', '남자0세부터9세생활인구수', '남자10세부터14세생활인구수',
       '남자15세부터19세생활인구수', '남자20세부터24세생활인구수', '남자25세부터29세생활인구수',
       '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '남자40세부터44세생활인구수',
       '남자45세부터49세생활인구수', '남자50세부터54세생활인구수', '남자55세부터59세생활인구수',
       '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수', '여자0세부터9세생활인구수',
       '여자10세부터14세생활인구수', '여자15세부터19세생활인구수', '여자20세부터24세생활인구수',
       '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수',
       '여자40세부터44세생활인구수', '여자45세부터49세생활인구수', '여자50세부터54세생활인구수',
       '여자55세부터59세생활인구수', '여자60세부터64세생활인구수', '여자65세부터69세생활인구수', '여자70세이상생활인구수',
       '시군구명', '행정동명'],
      dtype='object')

- 날짜 컬럼 datetime 타입으로 변환하기

In [63]:
df['기준일ID'] = pd.to_datetime(df['기준일ID'], format='%Y%m%d')
df[['기준일ID']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315456 entries, 0 to 315455
Data columns (total 1 columns):
기준일ID    315456 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.8 MB

- 110000번째 row의 기준일ID 값 - 300번째 row의 기준일ID 값 계산해보기

In [68]:
df.iloc[110000]['기준일ID'] - df.iloc[300]['기준일ID']

Timedelta('14 days 00:00:00')

- pickle로 저장해보기

In [70]:
df.to_pickle('pop_1908.pk')

- csv로 저장해보기

In [73]:
df.to_csv('pop_1908.csv', index=False)

- 각 파일 읽어보기

In [78]:
pk_df = pd.read_pickle('pop_1908.pk')
pk_df.shape

(315456, 34)

In [79]:
csv_df = pd.read_csv('pop_1908.csv')
csv_df.shape

(315456, 34)

# 파이썬 연습문제

- 1 ~ 10 까지의 정수를 모두 더해서 최종 값 출력

In [81]:
res = 0
for v in range(1, 11):
    res += v
print('total :', res)

total : 55

- 1 ~ 10 까지의 정수 중 짝수만 더해서 최종값 출력

In [83]:
res = 0
for v in range(1, 11):
    if v % 2 == 0:
        res += v
print('total :', res)

total : 30

- 아래 문자열에서 스페이스를 기준으로 분리해서 리스트로 저장
- test_str = 'python big data crawling analysis visualization machine learning deep learning'

In [85]:
test_str = 'python big data crawling analysis visualization machine learning deep learning'
res_list = test_str.split(' ')
res_list

['python',
 'big',
 'data',
 'crawling',
 'analysis',
 'visualization',
 'machine',
 'learning',
 'deep',
 'learning']

- 저장한 리스트에 'zizizi', 'pizza' 2개의 항목 추가

In [86]:
res_list.append('zizizi')
res_list.append('pizza')
res_list

['python',
 'big',
 'data',
 'crawling',
 'analysis',
 'visualization',
 'machine',
 'learning',
 'deep',
 'learning',
 'zizizi',
 'pizza']

- 결과 리스트 항목 중 문자 'z'가 포함된 항목 제거

In [87]:
for v in res_list[:]:
    if 'z' in v:
        res_list.remove(v)
res_list

['python',
 'big',
 'data',
 'crawling',
 'analysis',
 'machine',
 'learning',
 'deep',
 'learning']